body {
  background: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
  color: #2b2b2b;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

ul {
  padding: 0px;
}

li {
  font-size: 18px;
  list-style: none;
  text-transform: capitalize;
}

span.temp-number {
  font-size: 60px;
  font-weight: 400;
}

span.temp-units {
  font-weight: 500;
  position: relative;
  top: -32px;
}

small {
  color: #a3a3a3;
  display: block;
  font-size: 12px;
  margin-top: 15px;
}

a {
  color: #ff5035;
}

.app-interface {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 50px auto;
  max-width: 600px;
  padding: 50px;
}

.further-info {
  position: relative;
  right: -40px;
  top: 23px;
}

#icon {
  position: relative;
  top: -16px;
}
