body {
  background: radial-gradient(
    circle at 0.8% 1.8%,
    rgb(255, 104, 107) 0%,
    rgb(255, 187, 103) 90.1%
  );
  color: #2b2b2b;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  text-transform: capitalize;
}

span.temp-number {
  font-size: 60px;
  font-weight: 400;
}

span.temp-units {
  font-weight: 500;
  position: relative;
  top: -32px;
}

small {
  color: #a3a3a3;
  display: block;
  font-size: 12px;
  margin-top: 15px;
}

a {
  color: #ff5035;
}

.app-interface {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 50px auto;
  max-width: 600px;
  padding: 50px;
}
