body {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: #2b2b2b;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

ul {
  padding: 0px;
}

li {
  font-size: 18px;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

span.temp-number {
  font-size: 60px;
  font-weight: 400;
}

span.temp-units {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -29px;
}

small {
  color: #a3a3a3;
  display: block;
  font-size: 12px;
  margin-top: 15px;
}

a {
  color: #ff5e62;
  text-decoration: none;
}

.app-interface {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 70px auto;
  max-width: 650px;
  padding: 50px;
}

.further-info {
  position: relative;
  right: -40px;
  top: 23px;
}

.wind-units {
  text-transform: lowercase;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.forecast-day {
  color: #2b2b2b;
}

.forecast-temp-max {
  color: #ff5e62;
}

.forecast-temp-min {
  color: #a3a3a3;
}

#icon {
  position: relative;
  top: -16px;
}
